<?xml version='1.0' encoding='utf-8'?>
<widget id="gq.stibarc.mobile" version="1.2.7" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>STiBaRC</name>
	<description>
		The official STiBaRC mobile app.
	</description>
	<icon src="icon.jpg" />
	<author email="herronjo110@gmail.com" href="https://stibarc.gq">
		STiBaRC Team
	</author>
	<content src="index.html" />
	<access origin="*" />
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="mailto:*" />
	<preference name="StatusBarBackgroundColor" value="#49B9CA" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="de.appplant.cordova.plugin.local-notification" source="npm" />
	<plugin name="cordova-plugin-background-mode" source="npm" />
	<gap:plugin name="phonegap-plugin-push" source="npm" />
</widget>
